
farm_and_potion/Library/ArtifactDB
farm_and_potion/Library/shadercompiler-UnityShaderCompiler.exe0.log
farm_and_potion/Library/shadercompiler-UnityShaderCompiler.exe1.log
farm_and_potion/Library/shadercompiler-UnityShaderCompiler.exe2.log
farm_and_potion/Library/shadercompiler-UnityShaderCompiler.exe3.log
farm_and_potion/Library/shadercompiler-UnityShaderCompiler.exe4.log
farm_and_potion/Library/shadercompiler-UnityShaderCompiler.exe5.log
farm_and_potion/Library/SourceAssetDB
farm_and_potion/Library/SourceAssetDB
